body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{padding:0; margin:0; font-family:Arial;color:black;display:inline;}
li {list-style-type:none; }
img {border:none; }
a { text-decoration:none; color:black;}
a:hover { text-decoration:underline; }


#container{width:100%;height:900px;background:url("../images/main_bg.png") repeat-x;position:absolute;overflow: hidden;}

#header{width:900px;height:60px;position:relative;margin-left:246px;margin-top:10px;background:url("../images/header_band.png") no-repeat;	}



.header_band {height:14px;width:134px;margin-left:50px;display:inline}
.header_band span{height:20px;line-height:20px;font-size:12px;color:white;}

.header_title{height:20px;width:160px;line-height:20px;margin-left:50px;padding-top:0px;}
.header_title span,strong{color:white;}

#bdys{width:100%;position:absolute;top:100px;height:auto;}
.m_l_30{ display:inline; margin-left:30px;}


.banner{ margin:0 auto; width:1000px; overflow:hidden; margin-top:-28px;}

.main_a{ margin:0 auto; width:1000px;height: auto:}
.main_left{ float:left; width:370px; margin-top:10px;}
.main_right{ float:right; width:200px; margin-top:10px;}

.title_1{ float:left;height:370px; width:100%;border-bottom:4px #A13F0B solid;  height:25px; line-height:25px; color:#A13F0B;}
.title_1 h3{ float:left; padding:0 10px; font-size:14px;}
.title_1 span{ float:right; padding:0 5px; font-family:"Î¢ÈíÑÅºÚ"; font-size:11px;}
.title_1 a{	color:#A13F0B;font-family: Arial, Helvetica, sans-serif;}

.title_2{ float:left; width:100%; border-bottom:4px #005C30 solid;  height:25px; line-height:25px; color:#005C30;}
.title_2 h3{ float:left; padding:0 10px; font-size:14px;}
.title_2 span{ float:right; padding:0 5px; font-family:"Î¢ÈíÑÅºÚ"; font-size:11px;}
.title_2 a{ color:#005C30;}

.main_right_nav{ float:left; width:200px; padding-bottom:10px; padding-top:10px;}
.main_right_nav ul{ float:left; width:180px; padding-left:20px;}
.main_right_nav ul li{ float:left; width:100%; line-height:160%; font-size:14px; }
.main_right_nav ul li a{ color:#666;}
.main_right_nav ul li a:hover{color:#005C30}

.news_list{ float:left; width:100%;}
.news_list ul{ float:left; width:100%; padding:10px 0 15px 0;}
.news_list ul li{ float:left; width:100%; border-bottom:1px #CCCCCC dotted; line-height:25px; height:25px; }
.news_list ul li a{ float:left;font-size:11px; }
.news_list ul li span{ float:right;}

#body_footer {height:50px;margin-top:-250px;}
#body_footer h5{line-height:40px;text-align:center;}
#body_footer ul{border-bottom:2px solid #777}
#body_footer li{border-bottom:2px solid #ccc}

#footer{width:100%;height:50px;position:absolute;bottom:0px;}
.footer_title{width:490px;height:50px;margin: 0 auto;}
.footer_title p{line-height:20px;font-size:12px;color:#656565;}


.clearfix{
*zoom:1;
}
.clearfix:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}

