@charset "utf-8";
body{background:url("../images/login/homebg.png") repeat center top; dispaly:inlie;text-align:center;}
.container {
	width: 400px;
	margin: 40px auto 0 auto;
	position: relative;
	font-family: 寰蒋闆呴粦;
	font-size: 12px;
}
.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 400px;
	height: 30px;
	margin: 10px 0;
}
.cropped {
	position: absolute;
	right: -230px;
	top: 0;
	width: 200px;
	border: 2px #38b8da solid;
	height: 460px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	position: relative;
	height: 400px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0; 
}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton,.Btnsty_peyton_cancel,.Btnsty_peyton_upload{ 
  float: right;
  width: 66px;
  display: inline-block;
  margin-bottom: 10px;
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  color: #FFFFFF;
  margin:0px 2px;
  background-color: #38b8da;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #B0B0B0;
  border: 0px #fff solid;}
.Btnsty_peyton_cancel {
	width:165px;
	float: left;	
}

/*閫夋嫨鏂囦欢涓婁紶*/
.new-contentarea {
	width: 90px;
	overflow:hidden;
	margin-top:12px;
	position:absolute;
	float:left;
}

.button_sumbit{
	background: none;
	border: none;
	width: 90px;
	overflow:hidden;
	margin-top:12px;
	position:absolute;
	float:left;	
}
.pic_submit{
	margin-top:12px;
	position:absolute;		
}
.button_sumbit{	
	height:60px;
	background:#333;
	margin: 0 auto;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:90px;
	height:60px;
	background:#333;
	margin: 0 auto;
	position:absolute;
	right:50%;
	margin-right:-40px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}

a.upload-img,.button_sumbit{
	width:90px;
	display: inline-block;
	margin-bottom: 10px;
	height:57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #38b8da;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}
a.upload-img:hover,a.button_sumbit{
	background-color: #ec7e70;
}

.tc{text-align:center;}

/* tissue */
.tissue{width:402px; color:red;position:absolute;margin-top:60px;font-size: 14px;text-align:;left;line-height:44px;}
.errorMessage{list-style: none;margin-left:-40px;}

.tissue strong{width:280px;color:black;}
