ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{padding:0; margin:0; font-family:Arial;color:black;display:inline;}
li {list-style-type:none; }
img {border:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }


#container{height:auto;position:relative;padding-bottom: 60px; min-height: 100%;}

body{background:url("../images/login/homebg.png") repeat center top;position:absolute;left:0;top:0;right:0;bottom:0; dispaly:inlie;text-align:center;}

#header{width:650px;height:60px;position:relative;margin-left:246px;margin-top:10px;}

.header_title{height:20px;width:160px;display:inline	line-height:20px;margin-left:50px;padding-top:0px;font-size: 24px;}
.header_title span,strong{color:white;}


#bys{width:100%;height:auto;position:relative;}


.nav {width:800px;height:44px;margin-left:auto; margin-right:auto;position: relative;}

.suggest_nav{width:120px;position:relative; overflow:hidden;display: block;background:red;}
.suggest_nav,.main_nav{height:44px;background:url("../images/suggest/suggest_banner.png") repeat-x 0 -45px;}
.suggest_nav_l,.main_nav .suggest_nav_l{height:44px;background:url("../images/suggest/suggest_banner.png")no-repeat;}
.suggest_nav_r,.main_nav .suggest_nav_r{height:44px;background:url("../images/suggest/suggest_banner.png")no-repeat  right -90px;position:relative;}
.suggest_nav h3,.main_nav h3{line-height:44px;text-align:center;font:18px;color:#F8F8F8;margin-left:12px;}

.main_nav {width:120px;position:relative;overflow:hidden;display:block;float:left;margin-right: 560px;}




#suggest,#content,#details{vertical-align:middle;width:800px; margin-left:auto; margin-right:auto;margin-top:20px;position:relative;border: 2px solid #38b8da; background:#ffffff;}
#details{height:auto;}
#content{height:600px;}

#content{clear: both;}
#content li{width:700px;height:48px;text-align:left;line-height:22px;float:left;line-height: 48px;}
#content li a:active, #content li a:focus{ outline:none;}
.note_table{float:left;}

.fix-layout{
	position:fixed;
	_position:absolute;
	right:80px;
	bottom:80px;
	z-index:20;
	background:#392e5c;
}


.gb-bill-area{
	margin-bottom:8px;
	position:relative
}

.gb-bill-area .gb-bill-button{
	display:block;
	width:46px;
	height:46px
}

.gb-bill-area .gb-bill-button .fix-layout-bill-img{
	display:block
}

.gb-bill-area .close-bill-btn{
	position:absolute;
	width:18px;
	height:18px;
	top:-9px;
	right:-9px
	
}

.gb-bill-area .close-bill-btn .icon-close-bill{
	display:inline-block;
	width:46px;
	height:46px;

}

.gb-operation-area{
	width:45px
}


.gb-operation-area .gb-operation-button{
	position:relative;
	height:45px;
	display:block;
	text-decoration:none;
	overflow:hidden
	
}

.gb-operation-area .gb-operation-button .gb-operation-icon{
	display:block;
	width:46px;
	height:46px
}

.gb-operation-area .gb-operation-button .gb-operation-text{
	display:none;
	text-align:center;
	margin-top:15px;
	text-decoration:none
	
}

.gb-operation-area .gb-operation-button:hover .gb-operation-text{
	display:block;
	color: #b2b2b2;
	
}

.gb-operation-area .gb-operation-button:hover .gb-operation-icon{
	display:none
}

.os-ios .gb-operation-area .gb-operation-button:hover .gb-operation-text{
	display:none
}

.os-ios .gb-operation-area .gb-operation-button:hover .gb-operation-icon{
	display:block
}


.gb-operation-area .return-top .gb-operation-icon{
	background:url("../images/nav/man150526184610.png") no-repeat;
	
	
}

.gb-operation-area .hot-msg .gb-operation-icon{
			background:url("../images/nav/man150526184610.png") no-repeat  0 -46px;
	
	
}





.conten_form {width:800px;position:relative;}
 .note_talbe tr{width: 150px;text-align: left;}
.content_title{width:auto;height:44px;display: inline;position:relative;margin-left: 0px;}
.content_note_user{width:auto;height:44px;display: inline;position:relative;margin-left: 20px;}
.content_note_time{width:auto;height:44px;display: inline;margin-right:20px;}

.page{display:inline;position:absolute;bottom:50px;width:800px;height:22px;left:0;}
.pageno{position: absolute;width: 400px; text-align: left;left:20px;}
.page_a{width:400px; display:block;height: 25px;margin-left:400px;}
.pre_a,.next_a{width:100px;height: 25px;float: right;}

.note_button{background:none;border:none;}

.your_name{height:120px;width:300;margin-left:20px;position:absolute;}
.name_label,.suggest_label{height:40px;width:100;margin-left:0px; line-height:40px;position:relative;}
.your_name_input{height:40px;width:200px;background:transparent;border:2px solid #e3e3e1;margin-left:0;margin-top:10px;margin-left: 0;}

.your_suggest{width:480px;height:300px;margin-top:120px;}
.suggest_label{width:480px;height:40px;margin-top:-80px;}
.suggest_input{width:480px;height:200px;margin-left:20px;}

.your_answer{height:300px;width:300;position: relative;}
.answer_input{width:480px;height:100px;margin-left:20px;}

.sumbit_button,.answer_sumbit_button{display:block;background:url("../images/login/bg.png") repeat-x;width:290px;text-align:center;height:35px;line-height:35px;color:white;font-size:16px;border-radius:3px;border:1px solid #215A8D;position:relative;}
.sumbit_button{position:relative;margin:100px auto;}
.answer_sumbit_button{margin:40px auto;}
#suggest .tissue{width:240px;color:red; margin:10px auto ; }
#tissue_note{color:red;}

.suggestion{height:400px;width:700px;margin-top:20px;}
.suggestion_talbe td{border:1px solid #38b8da;}
.suggestion_talbe {margin-left:20px;border:1px solid #38b8da;}

.title{width:800px;height:44px;}

.contents{width:800px;height:44px;}

.note_time{width:800px;height:44px;}

.note_time h3,.contents h3,.title h3{line-height:44px;align:left;font:18px;float:left; margin-left: 20px;}

.answer{width:800px;height:auto;margin: atuo 0; }
.answer td{padding-bottom: 10px;}
.your_answer{height:auto;}




#footer{height:60px;bottom:0;position:relative;margin-top: 20px;}
.footer_title{width:490px;height:auto; margin: 0 auto;}
.footer_title p{line-height:20px;font-size:12px;color:#656565;} 





